body{
    background-image: url(../pics/pic3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.container{background opacity: 0.4;}
.nav-item{
}
